<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sistem Pakar Metode CF (Certainty Factor) dengan Python Flask dan Database MySQL</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 13px;
	color: #333333;
}
.style1 {
	color: #000099;
	font-size: 24px;
}
a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #333333;
}
.style2 {font-weight: bold}
-->
</style></head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#000099">
  <tr>
    <td height="50" bgcolor="#FFFFFF"><span class="style1">Sistem Pakar Diagnosa Penyakit Kucing</span></td>
  </tr>
  <tr>
    <td height="35" bgcolor="#FFFFFF"><span class="style2"><a href="admin">Home</a> | <a href="penyakit">Penyakit</a> | <a href="gejala">Gejala </a>| <a href="pengetahuan">Pengetahuan</a> | <a href="ganti-password">Ganti Password</a> | <a href="logout">Logout</a> | Anda Login Sebagai : <?php echo $_SESSION['userlogin']; ?></span></td>
  </tr>
  <tr>
    <td align="center" valign="top" bgcolor="#FFFFFF"><br />
      <strong>Tambah Data Gejala</strong><br />
      <br />
      <form id="form1" name="form1" method="post" action="save-gejala">
        <table width="350" border="0" cellpadding="5" cellspacing="1" bgcolor="#000099">
          <tr>
            <td width="128" bgcolor="#FFFFFF">ID Gejala</td>
            <td width="249" bgcolor="#FFFFFF"><input type="text" name="id_gejala" id="id_gejala" /></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">Nama Gejala</td>
            <td bgcolor="#FFFFFF"><input type="text" name="nama_gejala" id="nama_gejala" /></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF"><input type="submit" name="button" id="button" value="Simpan" /></td>
          </tr>
        </table>
      </form>
      <br />
    <br /></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="47%" height="35" align="left"><strong></strong></td>
        <td width="53%" height="35" align="right"><strong><a href="" target="_blank">Kontak</a> | <a href="" target="_blank">About</a></strong></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
